

/* Dark Theme */
 body {
    background-color: #121212; /* Dark background */
     color: #E0E0E0;
     font-family: 'Poppins', sans-serif;
     scroll-behavior: smooth;
 }
 

 /* Transparent Navbar */
 .navbar {
     background: rgba(0, 0, 0, 0.2);
     /* Transparent Black */
     transition: background 0.3s ease-in-out;
     box-shadow: #121212;
 }


 .navbar .nav-link {
     color: #FFC107;
     /* Yellow Links */
     font-weight: bold;
     transition: color 0.3s ease-in-out;
 }

 .navbar .nav-link:hover {
     color: #1E88E5;
     /* Blue on Hover */
 }

  /* Hero Section */
  #hero {
    height: 100vh;
    align-items: center;
    text-align: center;
    color: #FFF;
}